#mainMenu{
    margin-top: -10px;
    float: left;
    width: 85%;
    margin-left: -30px;
    position: absolute;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#300000), to(#620000));
  background-image: -webkit-linear-gradient(bottom, #300000, #620000);
  background-image:    -moz-linear-gradient(bottom,#300000 #620000);
  background-image:      -o-linear-gradient(bottom, #300000, #620000);
  background-image:         linear-gradient(to bottom, #300000, #620000);
    border-radius: 5px;
    color: #f1f1f1;
    height: 45px; margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 2px #999;	
    -moz-box-shadow: 0px 0px 2px #999;
    box-shadow: 0px 0px 2px #999;
}

/* drop down */
.dropdown-menu,
.nav-tabs > li a {
    background: #fafafa;
}

.flatmenu > ul.menu ul a, 
.flatmenu > ul.menu ul .separator {
    /*background: #fafafa;*/
    background: #AF3434;
}

ul.menu li a,
ul.menu li span,
.dropdown-menu,
.nav-tabs > li a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#300000), to(#620000));
  background-image: -webkit-linear-gradient(bottom, #300000, #620000);
  background-image:    -moz-linear-gradient(bottom,#300000 #620000);
  background-image:      -o-linear-gradient(bottom, #300000, #620000);
  background-image:         linear-gradient(to bottom, #300000, #620000);
    text-shadow: 0px -1px 0px  rgba(0,0,0,0.5);
}

ul.menu ul li a,
ul.menu ul li span,
.dropdown-menu > li > a {
    color: #333 !important;
    text-shadow: none !important;
}

ul.menu li ul li:hover > a,
ul.menu li ul li:hover > span,
ul.menu li ul li.current > a, 
ul.menu li ul li.current > span, 
ul.menu li ul li.active > a,
ul.menu li ul li.active > span,
ul.menu li ul li ul li:hover > a,
ul.menu li ul li ul li:hover > span,
ul.menu li ul li ul li.current > a, 
ul.menu li ul li ul li.current > span, 
ul.menu li ul li ul li.active > a,
ul.menu li ul li ul li.active > span {
    color: #805500 !important;
    background: #fff;
    background: -moz-linear-gradient(top,  #fff 0%, #fff 7%, #fff 96%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(7%,#fff), color-stop(96%,#fff), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top,  #fff 0%,#fff 7%,#fff 96%,#f1f1f1 100%);
    background: -o-linear-gradient(top,  #fff 0%,#fff 7%,#fff 96%,#f1f1f1 100%);
    background: -ms-linear-gradient(top,  #fff 0%,#fff 7%,#fff 96%,#f1f1f1 100%);
    background: linear-gradient(to bottom,  #fff 0%,#fff 7%,#fff 96%,#f1f1f1 100%);

    -pie-background: linear-gradient(top,  #fff 0%, #fff 7%, #fff 96%, #f1f1f1 100%);
}

ul.menu ul li:hover,
ul.menu ul li.current, 
ul.menu ul li.active {
    border: none;
    font-weight : bolder;
}

